<nav-component></nav-component>
<div class="core-container">
  <div class="core-container-inner">
    <div class="home-content flex-column justify-center">
      <div class="intro-container flex-row align-items">
        <div class="left">
          <h1>Send Stuff P2P</h1>
          <p>Stop using Dropbox and Google Drive to send files. No central server means faster speed, better security
            and no file size limitations.</p>
          <div id="tech-container" class="flex-row justify-center align-items-center full-width">
            <p>Powered By</p>
            <div></div>
            <a href="https://ipfs.io/" target="_blank"><img src="../assets/img/ipfs-logo.png"></a>
          </div>
        </div>
        <div class="right" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
          (click)="openFileSelector()">
          <div id="file-drop-box-container">
            <div class="flex-column justify-center align-items-center">
              <strong>&#x279C;</strong>
              <p>Drop Files &amp; Generate Links</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
