@use '../../../variables';

$icon-height: variables.$nav-height - 4em;

.main-nav {
  position: absolute;
  min-height: variables.$nav-height;
  max-height: variables.$nav-height;
  justify-content: space-between;

  & .left {
    margin-left: variables.$page-side-margin;
    max-height: 100%;

    img {
      max-height: $icon-height;
      min-height: $icon-height;
    }
  }

  & .right {
    margin-right: variables.$page-side-margin;

    & > a {
      margin-right: 2em;
    }
  }
}
