@use './variables';

/* Defaults */
body {
  background: #333;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&family=Ubuntu+Mono:ital@1&display=swap');

// Global General

body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

h1 {
  color: #FEFEFE;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

p {
  color: #FEFEFE;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

// Core Containers
.core-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.core-container-inner {
  margin: variables.$nav-height variables.$page-side-margin 0 variables.$page-side-margin;
}

body {
  background-image: linear-gradient(to right top, #22222c, #242331, #272436, #2a253b, #2d2640, #2e2742, #302844, #312946, #302a46, #2f2c45, #2e2d45, #2e2e44);
}

// General Styles

.core-sidebar {
  width: 3em;
}

.core-main-content {
  flex-grow: 1;
}

.img-fit {
  object-fit: contain;
}

.button-1 {
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .2rem 3rem;
  color: #000000;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #2d2640 inset;
  transition-duration: 0.5s;
  cursor: pointer;
}

.button-1:hover {
  box-shadow: 2px 1000px 1px #090613 inset;
}

.rainbow-container {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);
  overflow: visible;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    z-index: 1;
    background: linear-gradient(101deg, #78e4ff, #ff48fa);
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate infinite;
    border-radius: 15px;
  }
}

.rainbow-container-inner {
  border-radius: 15px;
  z-index: 2;
  background: #000000;
  width: 100%;
  height: 100%;
  position: absolute;

}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.vertical-spacer {
  width: 2em;
}

.horizontal-spacer {
  height: 2em;
}

// Loading Animation

$gravitation-constant: 6.673;
$t: 0.3;
$animation: orbit;

$planet-color: #C25447;
$moon-color: #9E9E9E;

@function orbit() {
  @return $animation $gravitation-constant * $t + s linear infinite;
}

.planet-container {
  display: flex;
  justify-content: center;
}

.orbit {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  position: absolute;
  border-radius: 100%;
  margin: -50px auto;
  animation: orbit();
}

.planet {
  background: $planet-color;
  box-shadow: inset -30px -30px 0px darken($planet-color, 2%);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  &:before {
    content: '';
    background: darken($planet-color, 5%);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: block;
    margin: 50px 100px;
  }
  &:after {
    content: '';
    background: darken($planet-color, 4%);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: -20px 40px;
  }
}

.moon {
  background: $moon-color;
  box-shadow: inset -7px -7px 0 darken($moon-color, 7%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 20px;
  &:before {
    content: '';
    background: darken($moon-color, 4%);
    border-radius: 100%;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 10px 10px;
  }
  &:after {
    content: '';
    background: darken($moon-color, 4%);
    border-radius: 100%;
    width: 9px;
    height: 9px;
    display: block;
    margin: -7px 20px;
  }
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
